{{#f7-panel position="left" display="cover"}}
  <div class="content-block">
    <p>Left Panel content here</p>
    <p>Material theme: {{f7.materialTheme}}</p>
    <p>iOs theme: {{f7.iosTheme}}</p>
    <p>Android: {{f7.isAndroid}}</p>
    <p>iOs: {{f7.isIOS}}</p>
  </div>
{{/f7-panel}}
<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    
    {{partial 'ios-navbar'}}
    
    <div class="pages">
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      {{#f7-page-container}}

        {{liquid-outlet}}

      {{/f7-page-container}}
    </div>

    {{partial 'toolbar'}}
  </div>
</div>